/* -------------------------------------------------------------------------------- */
/* ! Variables */
/* -------------------------------------------------------------------------------- */
:root{

  /* Colors */
  --bg-color: #000;
  --text-color: #fff;
  --sec-text-color: #86868B;
  --button-bg: #361085;
  --box-shadow: 0 2px 13px #fff;
  --link-color: #C62EFD;
  --color-secondary: rgb(255, 255, 255,0.3);
  --gradient-default: linear-gradient(122deg, var(--text-color) 0%, var(--text-color) 100%);

  /* font sizes */
  --title-1-font-sz: clamp(65px, 12vw, 120px);
  --title-2-font-sz: clamp(40px, 7vw, 85px);
  --title-3-font-sz: clamp(30px, 5.5vw, 55px);
  --title-4-font-sz: clamp(22px, 3vw, 30px);
  --p-font-sz: clamp(16px, 2vw, 21px);
  --footer-font-sz: clamp(12px, 1.7vw, 16px);
  --button-font-sz: clamp(25px, 3.5vw ,35px);
  --font-size-default: 15px;
  --font-size-lg: 25px;

  /* font sizes */
  --title-font-fam: 'Elnath';
  --title-2-font-fam: 'Automata';
  --p-font-fam: 'Exo';

  /* Others */
  --transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
  --radius: 20px;
  --width: min(1250px, 100% - 4rem);
  --border-color-default: var(--color-secondary);
  --border-color-accent: var(--text-color);
  --gap: 20px
}


/* ! Base style */
/* ----------------------------------------------------------------------------------- */
body{background: var(--bg-color);color: var(--text-color); font-size: var(--p-font-sz); font-family: var(--p-font-fam);line-height: 120%;}
body{overscroll-behavior: none;}
h1,h2,h3,h4,h5,h6{font-family: var(--title-font-fam);}
a{color: var(--link-color);}


/* -------------------------------------------------------------------------------- */
/* ! Home Page */
/* -------------------------------------------------------------------------------- */

/* ! Home Cover */
/* -------------------------------------------------------------------------------- */
.cover{width: 100vw;height: auto;position: relative;margin-bottom: 220px;}
.cover__img{object-fit: cover;width: 100vw;height: auto;opacity: 0.3;min-height: 100vh;}

.cover__content{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -60%);width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;z-index: 1;}
.cover__content img{width: 85%;}
.cover__content a{margin-top: 30px;}

@media (max-width: 768px) {
  .cover{margin-bottom: 110px;}
  .cover__content img{width: 95%;}
}


/* ! Section 1 */
/* -------------------------------------------------------------------------------- */
.section-1{width: 100%;margin-bottom: 30%;}
.section-1__container{width: var(--width);margin-inline: auto;display: grid;gap: var( --gap);grid-template-columns: repeat(3, 1fr);}

/* ! Section 1 card */
.section-1__card{border: 1px solid #fff;border-radius: var(--radius);padding: 20px;box-shadow: var(--box-shadow);}
.section-1__card-2{transform: translateY(30%);}
.section-1__card-3{transform: translateY(60%);}

/* ! Section 1 content */
.section-1__card-num{font-size: var(--title-1-font-sz);font-family: var(--title-2-font-fam);line-height: 80%;}
.section-1__card-content{margin-top: 150px;}
.section-1__card-content h3{font-size: var(--title-4-font-sz);font-family: var(--title-2-font-fam);line-height: 100%;}
.section-1__card-content p{color: var(--sec-text-color);}

/* ! Section 1 media qeuries */
@media (max-width: 991px) {
  .section-1__container{grid-template-columns: repeat(1, 1fr)}
}


/* ! Section 2 */
/* -------------------------------------------------------------------------------- */
.section-2{width: var(--width);margin-inline: auto;margin-bottom: 220px;}
.section-2 h2{text-align: center;margin-bottom: 40px;font-family: var(--title-font-fam);font-size: var(--title-3-font-sz);line-height: 100%;}

/* ! Section 2 images container */
.section-2__container-big{width: 100%;margin-inline: auto;height: calc(200vh);border-radius: var(--radius);}
.section-2__container{width: 100%;height: calc(100vh - 120px);overflow: hidden;position: sticky;top: 100px;border-radius: var(--radius);}
.section-2__image-cont{height: 100vh;overflow: hidden;position: absolute;width: 100%;top: 0;}

/* ! Section 2 images */
.section-2__image-1{z-index: 1;position: absolute;}
.section-2__container img{width: 100%;object-fit: cover;height: 100vh;}

/* ! Section 2 media queries */
@media (max-width: 768px) {
  .section-2{margin-bottom: 110px;}
}


/* -------------------------------------------------------------------------------- */
/* ! Timeline */
/* -------------------------------------------------------------------------------- */

/* Timeline general structure */
.timeline__content{margin-bottom: 220px;}
.timeline {width: min(1250px, 100% - 4rem);margin: auto;}
.timeline__stepper {margin-bottom: 30px;position: relative;display: grid;grid-template-columns: repeat(3, 1fr);gap: 30px;}
.timeline__step {position: relative;width: 100%;cursor: pointer;border-radius: var(--radius);}

/* Timeline icons */
.timeline__icon {position: relative;display: block;width: 100%;height: 100%;transition: var(--transition);}
.timeline__icon--active {position: absolute;top: 0;left: 50%;transform: translateX(-50%);fill: #fff;opacity: 0;}
.timeline__icon--default{fill: var(--color-secondary);}

/* Timeline title and dots */
.timeline__step-title {--timeline-dot-dimensions: 10px;position: relative;display: none;padding-top: 30px;margin-bottom: 0;text-align: center;line-height: 1.7;border-top: 3px solid var(--border-color-default);font-family: 'Elnath';}
.timeline__step-title:before, .timeline__step-title:after {position: absolute;top: var(--dot-top-position);left: 50%;display: block;width: var(--timeline-dot-dimensions);height: var(--timeline-dot-dimensions);content: '';border-radius: 50%;}
/* Timeline title and dots before */
.timeline__step-title:before {--dot-top-position: calc(var(--timeline-dot-dimensions)/2 * -1 - 1px);transform: translate(-50%);border: 2px solid var(--border-color-default);border-radius: 50%;background-color: #fff;z-index: 5;}
.timeline__step.is-active .timeline__step-title:before {transition: var(--transition);background-color: var(--text-color);border-color: var(--border-color-accent);}
/* Timeline title and dots after */
.timeline__step-title:after {--timeline-dot-dimensions: 25px;--dot-top-position: calc(var(--timeline-dot-dimensions)/2 * -1 - 1px);transform: translate(-50%) scale(0);border-radius: 50%;background-color: #fff;}
.timeline__step.is-active .timeline__step-title:after {transform: translate(-50%) scale(1);transition: var(--transition);background-image: var(--gradient-default);opacity: .35;}

/* Timeline active */
.timeline__step-active-marker {--slide-pos-y: none; --slide-pos-x: none;--slide-width: auto;position: absolute;top: var(--slide-pos-y);left: 0;display: none;width: var(--slide-width);height: 3px;transform: translateX(var(--slide-pos-x));transition: var(--transition);background-image: var(--gradient-default);}
.timeline__step.is-active .timeline__icon--default, .timeline__step:not(.is-active):hover .timeline__icon--default {opacity: 0;}
.timeline__step.is-active .timeline__icon--active,.timeline__step:not(.is-active):hover .timeline__icon--active {opacity: 1;}

/* Timeline slides structure */
.timeline__slides {--slides-container-height: 0px;--content-offset-x: 20px;--content-offset-y: 30px;position: relative;width: 100%;max-width: 100%;margin: auto;height: var(--slides-container-height);background-color: var(--bg-color);border-radius: var(--radius);}
.timeline__slides:before {position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: "";opacity: 0.7;background-image: var(--gradient-default);filter: blur(20px);transform: translate3d(0, 20px, 0) scale(1);z-index: -1;}
.timeline__slide {position: absolute;top: 0;left: 0;padding: var(--content-offset-y) var(--content-offset-x);opacity: 0;visibility: hidden;border: 1px solid var(--text-color);}
.timeline__slide.is-active {transition: var(--transition);opacity: 1;visibility: visible;border-radius: var(--radius);}

/* Timeline slides content */
.timeline__slide-title {margin-top: 0;font-family: 'Elnath';}
.timeline__slide-content {line-height: 1.7;}
.timeline__slide-content p:first-child {margin-top: 0;}
.timeline__slide-content p:last-child {margin-bottom: 0;}

/* Timeline media queries */
@media(min-width: 530px) {
  .timeline__stepper {display: flex;justify-content: space-around;gap: 10px;}
  .timeline__step {width: 100%;;}
  @media(min-width: 700px) {
    .timeline__slides {--content-offset-x: 30px;--content-offset-y: 40px;}
    .timeline__step-active-marker {display: block;}
    .timeline__stepper {margin-bottom: 50px;gap: 0;}
    .timeline__step-title {display: block;}
    .timeline__icon {margin-bottom: 30px;width: 100%;height: 100%; max-height: 60px;object-fit: contain;}
  }
}
@media (max-width: 768px) {
  .timeline__content{margin-bottom: 110px;}
}


/* -------------------------------------------------------------------------------- */
/* ! Section 4 */
/* -------------------------------------------------------------------------------- */
.section-4{width: var(--width);margin-inline: auto;margin-top: 220px;display: grid;grid-template-columns: repeat(2, 50%);overflow: hidden;gap: var( --gap); margin-bottom: 220px;}

/* ! Section 4 images */
.section-4__images{display: grid;grid-template-columns: repeat(3, calc(33% - 20px));width: 100%;gap: var( --gap); grid-template-rows: repeat(2, 2fr);}
.section-4__image-big{height: 500px;}
.section-4 img{width: 100%;border-radius: var(--radius);height: 100%;object-fit: cover;cursor: pointer;}
.js-section-4-image-big {transition: var(--transition);}
.transitioning {opacity: 0;}

/* ! Section 4 media queries */
@media (max-width: 768px) {
  .section-4{grid-template-columns: repeat(1, 1fr);margin-bottom: 110px;}
  .section-4__images{grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(1, 2fr);}
}


/* -------------------------------------------------------------------------------- */
/* ! Section 5 */
/* -------------------------------------------------------------------------------- */
.section-5{width: var(--width);margin-inline: auto;margin-bottom: 220px;}
.section-5__container{display: grid;grid-template-columns: repeat(2, 1fr);grid-template-rows: repeat(1, 500px);}

/* ! Section 5 image */
.section-5__image{width: 100%;overflow: hidden;border-radius: 0 20px 20px 0;}
.section-5__image img{width: 100%;height: 100%; object-fit: cover;}

/* ! Section 5 content */
.section-5__content{z-index: 1;position: relative;padding: 30px;display: flex;justify-content: center;flex-direction: column;align-items: flex-start;border: 1px solid var(--text-color);border-radius: 20px 0 0 20px;}
.section-5__content h2{line-height: 100%;}
.section-5__content p{margin-bottom: 15px;color: var(--sec-text-color);font-weight: 200;font-size: var(--p-font-sz);}
.section-5__button{font-size: var(--p-font-sz);}

/* ! Section 5 media queries */
@media (max-width: 768px) {
  .section-5{margin-bottom: 110px;}
  .section-5__container{grid-template-rows: repeat(2, 1fr);grid-template-columns: repeat(1, 1fr);}
  .section-5__image{border-radius: 0 0 20px 20px;}
  .section-5__content{border-radius: 20px 20px 0 0;}
}


/* -------------------------------------------------------------------------------- */
/* ! Section social */
/* -------------------------------------------------------------------------------- */
.section-social{width: var(--width);margin-inline: auto;margin-bottom: 220px;}
.section-social h2{text-align: center;font-size: var(--title-3-font-sz);margin-bottom: 40px;}
.section-social__container{display: grid;grid-template-columns: repeat(3, 1fr);gap: var( --gap);}

/* ! Section social links after */
.section-social__link{border: 1px solid var(--text-color);border-radius: var(--radius);height: 150px;display: flex;justify-content: center;align-items: center;position: relative;overflow: hidden;}
.section-social__link:after{content: "";bottom: 0;width: 100%;background: var(--button-bg);position: absolute;height: 0px;border-radius: var(--radius);transition: var(--transition);z-index: -1;}
.section-social__link:hover.section-social__link:after{height: 100%;}
.section-social__link p{font-family: var(--title-font-fam);margin: 0;font-size: var(--title-4-font-sz);color: var(--text-color);}

/* ! Section social media queries */
@media (max-width: 650px) {
  .section-social{margin-bottom: 110px;}
  .section-social__container{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(3, 1fr);}
}


/* -------------------------------------------------------------------------------- */
/* ! Section Collab */
/* -------------------------------------------------------------------------------- */
.section-collab{width: var(--width);margin-inline: auto;margin-bottom: 220px;}
.section-collab h2{font-family: var(--title-font-fam);text-align: center;font-size: var(--title-3-font-sz);margin-bottom: 40px;}

/* ! Section Collab videos */
.section-collab__container{display: grid;grid-template-columns: repeat(3, 1fr);gap: var( --gap);}
.section-collab__video{width: 100%;min-height: 250px;}
.section-collab__video iframe{width: 100%;border-radius: var(--radius);height: 100%;}

/* ! Section Collab media queries */
@media (max-width: 768px) {
  .section-collab{margin-bottom: 110px;}
  .section-collab__container{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(3, 1fr);}
}


/* -------------------------------------------------------------------------------- */
/* ! Section Sostieni */
/* -------------------------------------------------------------------------------- */
.section-sostieni{width: var(--width);margin-inline: auto;margin-bottom: 220px;}
.section-sostieni__container{border: 1px solid var(--text-color);width: 100%;min-height: 300px;height: 50vh; max-height: 60vh;overflow: hidden;position: relative;display: flex;justify-content: center;align-items: center;border-radius: var(--radius);padding: 20px;}
.section-sostieni__container img{width: 100%;height: 100%; object-fit: cover;position: absolute;top: 0;left: 0;opacity: 0.25;}
.section-sostieni__container h2{z-index: 1;position: relative;font-size: var(--title-2-font-sz);color: var(--text-color);margin: 0;text-align: center;}

/* ! Section Sostieni media queries */
@media (max-width: 768px) {
  .section-sostieni{margin-bottom: 110px;}
}


/* -------------------------------------------------------------------------------- */
/* ! Section Faq */
/* -------------------------------------------------------------------------------- */

/* ! Section Faq structure */
.section-faq{width: var(--width);margin-inline: auto;}
.section-faq__container{width: 100%;display: grid;grid-template-columns: repeat(2, 1fr);}
.section-faq__title h2{text-align: center;position: sticky;top: 20%;font-size: var(--title-1-font-sz);}

/* ! Section Faq items */
.section-faq__item{border: 1px solid var(--text-color);margin-bottom: 10px;border-radius: var(--radius);}
.section-faq__item button {position: relative;display: flex;align-items: center;justify-content: space-between;padding: 20px;width: 100%;background: transparent; border: none;}
.section-faq__item button:before {content: "";border-radius: var(--radius);display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;transform: scaleY(0);background: var(--text-color);transition: transform .4s;}

/* ! Section Faq hover */
.section-faq__item button:hover:before {transform: scaleY(1);}
.section-faq__item button:hover .section-faq__item-title, .section-faq__item button:hover{color: #000;z-index: 1;}
.section-faq__item button:hover .section-faq__item-arrow{filter: invert(0);}
.section-faq__item button:hover, .section-faq__item button:focus, .section-faq__item button:hover::after, .section-faq__item button:focus::after {cursor: pointer;}

/* ! Section Faq title & arrow(+) */
.section-faq__item-arrow{width: 50px;filter: invert(1);transition: all 0.6s cubic-bezier(.215, .61, .355, 1);}
.section-faq__item-title {color: #fff; font-size: var(--title-4-font-sz);text-align: left;font-family: var(--title-2-font-fam);word-break: break-word;font-weight: normal;margin: 0}

/* ! Section Faq content */
.section-faq__item-content {max-height: 0;overflow: hidden;transition: max-height 0.4s ease;}
.section-faq__item-content p {font-size: clamp(18px, 4vw, 25px);font-weight: 300;padding: 20px;margin: 0;font-family: var(--p-font-fam);font-weight: 200;}

/* ! Section Faq expanded*/
.section-faq__item button[aria-expanded='true'] .section-faq__item-arrow{transform: rotate(315deg);}
.section-faq__item button[aria-expanded='true'] + .section-faq__item-content {height: auto;}

/* ! Section Faq queries */
@media (max-width: 768px) {
  .section-faq__container{grid-template-columns: repeat(1, 1fr); grid-template-rows: 2;}
  .section-faq__item button{padding: 15px 25px;}
  .section-faq__item-arrow{width: 30px;}
  .section-faq__item-content p{padding: 15px 25px;}
}
